In [1]:
import sys
sys.path.append("..")
from src.data.build_tile_index import build_tile_index_gdf

In [2]:
from pathlib import Path

tile_index_dir = Path("../data/external/usgs/tile_index/").resolve()
workunit_info_dir = Path("../config/usgs_workunit_info/").resolve()

In [3]:
gdf = build_tile_index_gdf(tile_index_dir, workunit_info_dir)

In [4]:
gdf

,name,geometry,workunit_id,workunit
0,4990_48160,"POLYGON ((500000.000 4816000.000, 499873.912 4...",228972,MN_SEDriftless_3_2021
1,5470_48350,"POLYGON ((547000.000 4835000.000, 547000.000 4...",228972,MN_SEDriftless_3_2021
2,5460_48150,"POLYGON ((546000.000 4815573.138, 546000.000 4...",228972,MN_SEDriftless_3_2021
3,5450_48500,"POLYGON ((546000.000 4850000.000, 545000.000 4...",228972,MN_SEDriftless_3_2021
4,4480_48460,"POLYGON ((449000.000 4846000.000, 448000.000 4...",228972,MN_SEDriftless_3_2021
...,...,...,...,...
4666,15TWJ160720,"POLYGON ((517000.000 4873000.000, 517000.000 4...",228969,MN_SEDriftless_1_2021
4667,15TVJ730650,"POLYGON ((474000.000 4865000.000, 473000.000 4...",228969,MN_SEDriftless_1_2021
4668,15TVJ770780,"POLYGON ((477000.000 4878000.000, 477000.000 4...",228969,MN_SEDriftless_1_2021
4669,15TVK660110,"POLYGON ((467000.000 4911000.000, 466000.000 4...",228969,MN_SEDriftless_1_2021
4670,15TWJ100620,"POLYGON ((511000.000 4862000.000, 510000.000 4...",228969,MN_SEDriftless_1_2021

In [5]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 85806 entries, 0 to 4670
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         85806 non-null  string
 1   geometry     85806 non-null  geometry
 2   workunit_id  85806 non-null  int64
 3   workunit     85806 non-null  string
dtypes: geometry(1), int64(1), string(2)
memory usage: 3.3 MB

In [6]:
tile_index_gpkg = Path("../data/interim/tile_index.gpkg").resolve()
gdf.to_file(tile_index_gpkg, driver="GPKG", layer="tile_index")